.full-education {
  .full-education__school-name {
    font-weight: 700;
  }

  .full-education__degree {

  }

  .full-education__date {
    color: $gray;
  }

  .full-education__description {
    margin-top: 8px;
  }
}