.pipeline-list {
  margin-top: 0;
  margin-bottom: 0;

  list-style-type: none;
  padding-left: 0;
  padding: 17px;

  li {
    margin-bottom: 10px;

    text-align: right;

    a {
      color: #000;

      &:hover {
        font-weight: 700;
      }
    }

    &:last-child {
      margin-bottom: 0;

      a {
        font-weight: 700;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}